* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-color: #F2F2F2;
}

a {
  text-decoration: none;
}

.container {
  width: 1300px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
}

ul,
li {
  list-style: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}
.navbar{
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-item {
  margin: 0 32px;
}

.nav-link {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888F;
}
.box{
}
.box-site{ 
  background-image: url(../img/coffee.png);
  background-repeat: no-repeat;
}